body {
    background: #DCDDDF url(http://cssdeck.com/uploads/media/items/7/7AF2Qzt.png);
    color: #000;
    font: 14px Arial;
    margin: 20;
    text-align: center;
}

main {
    background: #33cccc;
    width: 700px;
    border-radius: 6px;
    margin-bottom: 15px;
    border: #fbf4ff 4px solid;
    text-align: center;
}

aside {
    background: #81e0e0;
    width: 700px;
    border-radius: 6px;
    margin-bottom: 15px;
    border: #fbf4ff 4px solid;
    text-align: left;
    padding-left: 15px;
    padding-bottom: 15px;
}

* {
    font-family: Geneva;
    box-sizing: border-box;
}

.container{
    padding: 20px;
}

main form{
    padding-top: 15px;
    padding-bottom: 15px;
}